body {
    background-color: #f5f5dc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: #8b4513;
}
ul, ol {
    padding-left: 20px; /* Ensures consistent padding */
    margin: 0 0 10px 0; /* Margin for lists */
    list-style-position: inside; /* Positions list markers inside the container */
    max-width: 400px; /* Ensure lists also respect the max-width */
    margin-left: auto;
    margin-right: auto;
}
li {
    text-align: left;
}
.text-container {
    max-width: 400px; /* Set the maximum width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 1px; /* Optional: add some padding */
    box-sizing: border-box; /* Ensures padding is included in the max-width */
}
p {
    margin: 0;
}
img {
    width: 400px;
    height: auto;
}

.t1, .t2 {
    color: #654321;
    margin-bottom: 6px;
}
.t1 {
    font-size: 40px
}
.t2 {
    font-size: 28px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #654321;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    border: 2px solid whitesmoke;
}

a.button:hover {
    background-color: #8b4513; /* Darken button color on hover */
}

